<div class="jumbotron">
    <div class="container">
        <div class="featured">
            <div class="row">
                <div class="col-md-9">
                    <h1 style="font-weight: bold; font-size: 35px;">
                        {{pageTitle | uppercase}}
                    </h1>
                    <div id="whoweare">
                        <div class="transbox">
                            <h6 style="font-size: 16px;">
                                At Cyprus Railway we take a unique approach to travel. Our pioneering platform allows
                                you to find the
                                fastest, cheapest and best travel options by train, bus and flight to thousands of
                                cities, towns
                                and villages across Europe, the United States and Canada. <br />
                                That translates into savings—on money and time—for you!
                            </h6>
                        </div>
                    </div>
                </div>
                <section id="fast-facts">
                    <h2 class="header_2">Fast Facts</h2>

                    <div class="facts">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="fact-text right-padding">
                                        <p class="intro">In 2017, more than 500 customers contacted us to learn how to
                                            travel with their beloved pets.</p>
                                        <p class="paragraph">Many of our partners have liberal pet policies. Isn’t it
                                            nice to know you can travel with your pair of beloved dogs, Buster and
                                            Zoey?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="facts-image right-padding"><img
                                            src="https://cdn-goeuro.com/static_content/web/rebrand-assets/about/fast-facts-1.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="facts">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 col-md-push-5">
                                    <div class="fact-text right-padding">
                                        <p class="intro">Traveling with us is fast and easy with a mobile ticket.</p>
                                        <p class="paragraph">We offer the possibility to go paperless in 20 countries in
                                            Europe as well as the United States, on hundreds of routes. FYI: nearly all
                                            our tickets sold in Italy are mobile!</p>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-pull-5">
                                    <div class="facts-image right-padding"><img
                                            src="https://cdn-goeuro.com/static_content/web/rebrand-assets/about/fast-facts-2.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="facts">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5" id="third">
                                    <div class="fact-text right-padding">
                                        <p class="intro">
                                            Our customers come from all over the world and have different travel
                                            preferences. </p>
                                        <p class="paragraph">Spaniards stick to their own country—Madrid to Barcelona is
                                            their preferred route—while Americans flock to Paris, Amsterdam and Rome.
                                            Our Chinese customers have a soft spot for Italy, opting to travel from Rome
                                            to Florence (and back)! </p>
                                    </div>
                                </div>
                                <div class="col-md-5" id="fourth">
                                    <div class="facts-image right-padding"><img
                                            src="https://cdn-goeuro.com/static_content/web/rebrand-assets/about/fast-facts-4.png">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="facts">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 col-md-pull-5" id="fifth" >
                                    <div class="fact-text right-padding" id="sixth" style="margin-top: 210px;">
                                        <p class="intro">On an average day, we sell enough tickets to fill more than 30 trains.</p>
                                        <p class="paragraph">That’s a lot of seats!</p>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-push-5">
                                    <div class="facts-image right-padding" style="margin-top: -220px; margin-left: 20px">
                                    <img src="https://cdn-goeuro.com/static_content/web/rebrand-assets/about/fast-facts-3.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
