<app-search-card></app-search-card>
<app-search-result></app-search-result>
<div class="container" style="margin-top: -250px;">
    <div class="featured">
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="item">
                    <div class="image-grid"
                        style="background-image: url(https://cdn-goeuro.com/static_content/web/rebrand-assets/about/usp-1.png);">
                    </div>
                    <h4 class="usp-text">Travel with Ease</h4>
                    <p class="usp-text">
                        We’ve worked out all the complicated bits so you don’t have to. No-hassle, no-fuss trip
                        planning.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="item">
                    <div class="image-grid"
                        style="background-image: url(https://cdn-goeuro.com/static_content/web/rebrand-assets/about/usp-2.png);">
                    </div>
                    <h4 class="usp-text">See All Your Options</h4>
                    <p class="usp-text">
                        A single search provides all the trains available to accommodate your
                        personal travel needs. So you choose the mode and price that’s right for you.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="item">
                    <div class="image-grid"
                        style="background-image: url(https://cdn-goeuro.com/static_content/web/rebrand-assets/about/usp-3.png);">
                    </div>
                    <h4 class="usp-text">Search Across Europe, the US and Canada</h4>
                    <p class="usp-text">
                        Start and end your journey in thousands of cities, towns or villages in more than 35
                        countries. The choice is yours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <div class="container my-4 form-container">
        <div class="row">
            <div class="featured">
                <div class="col-xs-12 col-sm-10 col-md-8 col-md-9 col-sm-offset-1 col-md-offset-2 m-auto">
                    <div class="text2">
                        <span class="text2">The Cyprus Railway App Makes Travel Planning
                            Easy</span><br /><br />
                        <p class="text2">We’ll get you where you want to go. From live train updates to
                            mobile tickets, our innovative app is the ideal way to plan and
                            keep track of your travel.</p>
                    </div>
                    <div class="badges">
                        <div class="badges2" style="margin-left: -200px;"><img src="assets/images/ios-badge.png" alt="ios-badge" style="width:150px">
                        <img src="assets/images/android-badge.png" alt="android-badge" style="width:150px; height: 59px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <img class="mobile-app" src="assets/images/mobile-ticket.png" alt="Hand With Phone" style="margin-left:550px; margin-top: -95px">
    </div>
</div>

<div class="row">
    <div class="col-md-3 contact">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">CONTACT</h2>
                <p class="card-text">Cyprus Railway<br />
                    43 Kings Road<br />
                    HEMEL HEMPSTEAD<br />
                    HP90 0JS</p>
                <p class="card-text"> E-Mail: cyprus@cyprusrailway.com<br />
                    Telephone: 01782-659234</p>
            </div>
        </div>
    </div>
</div>