@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 350px;

  }
   
.full-width {
  width: 350px;
  }

#button {
  background-color: #218838;
  color: white;
  width: 360px;
  }

h1.register{
  width: 350px;
  padding: 15px;
  margin-left: 650px;

}

.my-card {
  width: 400px;
  border: 3px solid grey;
  padding: 20px;
  border-radius: 10px;
  margin-left: 550px;
  margin-bottom: 10px;
}